#woocommerce-pagseguro-assinaturas-rcs-payment-form .panel input[type="text"]
{
	width:200px;
}
#woocommerce-pagseguro-assinaturas-rcs-payment-form .woocommerce-tabs .tabs {
	list-style:none;padding: 0;
}
#woocommerce-pagseguro-assinaturas-rcs-payment-form .panel input,#woocommerce-pagseguro-assinaturas-rcs-payment-form .panel select
{
	margin:0;
}
#woocommerce-pagseguro-assinaturas-rcs-payment-form .panel ul
{
	*zoom:1;list-style:none;margin:0 0 10px;padding:0;
}
#woocommerce-pagseguro-assinaturas-rcs-payment-form .panel ul:after
{
	content:"";display:table;clear:both;
}
#woocommerce-pagseguro-assinaturas-rcs-payment-form .panel li
{
	margin:0 20px 0 0;float:left;text-align:center;
}
#woocommerce-pagseguro-assinaturas-rcs-payment-form .panel label img
{
	display:block;
}
#woocommerce-pagseguro-assinaturas-rcs-payment-form .panel .form-group-wrap
{
	*zoom:1;margin-bottom:10px;
}
#woocommerce-pagseguro-assinaturas-rcs-payment-form .panel .form-group-wrap:after
{
	content:"";display:table;clear:both;
}
#woocommerce-pagseguro-assinaturas-rcs-payment-form .panel .form-group
{
	float:left;margin-right:10px;
}
#woocommerce-pagseguro-assinaturas-rcs-payment-form .panel .form-group label
{
	display:block;
}
#woocommerce-pagseguro-assinaturas-rcs-payment-form .panel .form-group input,#woocommerce-pagseguro-assinaturas-rcs-payment-form .panel .form-group select
{
	*zoom:1;float:left;
}
#woocommerce-pagseguro-assinaturas-rcs-payment-form .panel .form-group input:after,#woocommerce-pagseguro-assinaturas-rcs-payment-form .panel .form-group select:after
{
	content:"";display:table;clear:both;
}
#woocommerce-pagseguro-assinaturas-rcs-payment-form .panel .form-group .description
{
	color:#666;display:block;font-size:80%;
}
#woocommerce-pagseguro-assinaturas-rcs-payment-form .panel #credit-card-name
{
	text-transform:uppercase;
}
#woocommerce-pagseguro-assinaturas-rcs-payment-form .panel #credit-card-expiration-month
{
	margin-right:5px;
}
#woocommerce-pagseguro-assinaturas-rcs-payment-form .panel #credit-card-security-code
{
	width:40px;
}
#woocommerce-pagseguro-assinaturas-rcs-payment-form .panel #credit-card-birthdate-month
{
	margin:0 5px;
}
#woocommerce-pagseguro-modal-bg
{
	background:#fff;cursor:wait;height:100%;left:0px;opacity:0.6;position:fixed;top:0px;width:100%;z-index:99999;
}
#woocommerce-pagseguro-modal
{
	background:#fff;border:3px solid #aaa;color:#555;cursor:wait;left:50%;line-height:24px;margin:-30px 0 0 -250px;padding:20px;position:fixed;text-align:center;top:50%;width:500px;z-index:9999999;
}
#mensagem_retorno .error {
	background-color: #ffebe8;
	border-color:  #c00;
	padding: 0 .6em;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	margin: .5em 0;
	padding: 5px;

	font-family: sans-serif;
	font-size: 12px;
	line-height: 1.4em;
	color: #333;
}
ul.order_details {
	margin-bottom: 0;
}
#extra_order_details {
	margin-bottom: 20px;
}
.aviso_processamento_pagseguro {
	font-weight: bold;
}
.plano_descricao {
	/*float: left;*/
	display: table;
    margin-top: 10px;
}